/*Class Selector (.class)*/
.body {
  background-color: #abd3f5;
}

/*Element Selector (element) */
h1 {
    color: rgb(13, 6, 117);
  }
h2 {
  background-color: black;
  color: white;
}
span {
  background-color: rgba(255,255,255,.5);
}

/*ID Selector (#id)*/
#Forms-to-fill-out {
    color: rgb(13, 6, 117);
}

/*Universal Selector (*)*/
* {
    color: darkslategrey;
}

/*Attribute Selector*/
/* Internal links, beginning with "#" */
a[href^="#"] {
  background-color: pink;
}

/*Pseudo-class Selector*/
/* Any hyperlink over which the user's pointer is hovering */
a:hover {
  background-color: gold;
}

/*Selector List*/
h2, h3 {
  font-family: cursive;
}
