/*Class Selector (.class)*/
.body {
  background-color: #abd3f5;
}

/*Element Selector (element) */
h1 {
    color: rgb(13, 6, 117);
  }
h2 {
  background-color: black;
  color: white;
}
span {
  background-color: rgba(255,255,255,.5);
}

/*ID Selector (#id)*/
#Forms-to-fill-out {
    color: rgb(13, 6, 117);
}

/*Universal Selector (*)*/
* {
    color: darkslategrey;
}

/*Attribute Selector*/
/* Internal links, beginning with "#" */
a[href^="#"] {
  background-color: hsl(0 80% 50% / 25%);
}

/*Pseudo-class Selector*/
/* Any hyperlink over which the user's pointer is hovering */
a:hover {
  background-color: gold;
}

/*Selector List*/
h2, h3 {
  font-family: cursive;
}

/*Descendant Combinator (element element)*/
section ol {
  background-color: lightgreen;
}

/*Child Combinator (element > element)*/
main > p {
  background-color: lightcoral;
}

/*General sibling combinator (element ~ element)*/
/* Paragraphs that are siblings of and subsequent to any image */
   img ~ p {
    color: darkmagenta;
  }
  

/*Adjacent sibling combinator (element + element)*/
/* Paragraphs that come immediately after any image */
h5 + label {
  color : red
}

/*Combining Two Selectors (element.class)*/
#Intro.general {
  color : green
}

/*abs units*/
p {
  font-size: 20pt;
  line-height: 40px;
  width: 50pc;
}

/*relative units*/
span {
  font-size: 1.2em;
}

h1 {
  font-size: 5vmin;
  margin: auto;
  text-decoration: underline green double;
  text-align: center;
}

h2 {
  font-size: 4vmax;
}

span {
  border: 2px solid gray;
  margin: 10px 50px 20px 4em;

  width: 500px;
  padding: 2px 2px 2px;
  
}

ol {
  border-width: 1px;
  border-style: solid;
  border-color: blue;
  border-radius: 30px;

  margin-top: -10px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 4em;

  padding: 5px 1em 0 2em;

}

